<div id="<%= dom_id flat %>">
  <p>
    <strong>flat:</strong>
    <%= flat.name %>
  </p>
  <p>
    <strong>address:</strong>
    <%= flat.address %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>
  <p>
    <strong>Guest:</strong>
    <%= flat.number_of_guests %>
  </p>
</div>
